.Card {
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5em;
  border: 0.1em solid black;
  width: 6em;
  height: 9em;
}

.SelectedCard {
  background-color: lightblue;
}

.CardInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: xx-large;
  padding: 0.1em;
}

.CardStackSize {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: small;
}

.Joker {
  font-size: 4.5em;
  line-height: 0em;
}
